a {
	color: #ab1c3d;
	text-decoration: none;
	display: inline-block;
}

a::after {
	content: '';
	background-color: #ab1c3d;
	display: block;
	width: 100%;
	height: 3px;
	transform: scaleX(0);
	transform-origin: left;
	transition: 500ms ease-out;
}

a:hover::after {
	transform: scaleX(1);
}